*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
  

}
html{
    scroll-behavior: smooth;
}
#preloader{
    background: #000 url(pic/preloader.gif) ;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-position: center;
}
body{
    height: 100vh;
    background: #0c0c0c;
    background-position: center;
    background-size: cover;
}
li{
    list-style: none;
}
 a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
}
a:hover{
    color: aqua;
    letter-spacing: 0.1em;
    
}
/* header*/
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 20px;
    font-weight: 900;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .links{
    font-size: 16px;
    font-weight: 700;
}
.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.links .home{
   color: aqua;
}
.action_btn{
    background-color: rgb(2, 187, 187);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0,8rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.action_btn:hover{
    color:#000000;
    background: #fff;
    letter-spacing: 0.1em;
}

.header-text{
    color: #fff;
    margin-top: 8%;
    font-size: 30px;
}   
.header-text h1{
    font-size: 60px;
    margin-top: 16px;
}
.header-text h1 span{
    color: aqua;
 }
 .header-text img{
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    display: block;
    transition: transform 0.5s;
 }
 .header-text img:hover{
    transform: scale(1.1);
 }

  /*------------services---------*/
  #services{
    padding: 30px 0;
    color: #7a7a7a;
 }
 .sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
   }
 .services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
 }
 .services-list div {
    background: #0b0f1b ;
    padding: 40px;
    font-weight: 300;
    font-size: 13px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
 }
 .services-list div i{
     margin-bottom: 30px;
     font-size: 50px;
 }
 .services-list div h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
 }
 .services-list div a{
    text-decoration: none;
    color: #7a7a7a;
    font-size: 17px;
    margin-top: 20px;
    display:inline-block ;
 }
 .services-list div a:hover{
    color: #fff;
 }

 .services-list div:hover{
    background: #025255;
    transform: translateY(-10px);
 }

 
/*---------contact-------*/
.contact-left{
    flex-basis: 100%;
    color: #7a7a7a;
}

.contact-left p{
   margin-top: 20px;
}
.contact-left p i{
   margin-right: 14px;
   font-size: 25px;
}
.Social-icons{
    margin-top: 10px;
}
.Social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 18px;
    color: #7a7a7a;
    display: inline-block;
    transition:  0.4s;
}
.Social-icons a:hover{
    color: aqua;
    transform: translateY(-5px);
}

 .copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    color: #777777;
    font-weight: 300;
    margin-top: 20px;
 }
nav .fas{
    display: none;
}
/* drop menu*/
.dropdown_menu .home{
    color: aqua;
 }
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top:60px;
    height: 0;
    width: 300px;
    background: #010207;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s;
    display: none;
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*responsive design*/
@media (max-width:992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    .header-text img{
        width: 300px;
        margin-left: center;
        margin-top: 1%;
    }
    .header-text{
       margin-left: 10%;
        margin-top: 5%;
        font-size: 25px;
    }   
    
    @media (max-width:576px){
        .dropdown_menu{
            left:2rem;
            width: unset;
        }
        .header-text{
          
            margin-top: 20%;
            margin-left: 3%;
            font-size: 20px;
         
        } 
        .header-text img{
            width: 250px;
            margin-left: 8%       ;
            margin-top: 10%;
            
        }
           .header-text h1{
            font-size: 29px;
     
        }
        nav .fas{
            display: block;
            font-size: 25px;
            
        }
        nav ul{
            background: #0b0f1b;
            position: fixed;
            top: 0;
            right: -200px;
             width: 200px;
            height: 100vh;
            padding-top: 50px;
            z-index: 2;
            transition: right 0.5s ;
    
        }
        nav ul li{
            display: block;
            margin: 25px;
        }
        nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer ;
        }
        .sub-title{
            font-size: 40px;
    
        }
        .about-col-1, .about-col-2{
            flex-basis: 100%;
        }
        .about-col-1 {
            margin-bottom: 30px;
        }
        .about-col-2{
            font-size: 14px;
    
        }
        .tab-links{
            font-size: 16px;
            margin-right: 20px;
    
        }
        .contact-left{
          flex-basis:100%
        }
        .copyright{
            font-size: 14px;
        }
     
       
    }
}



